debug_level = "INFO"
build_version = "1.0"

[api_keys]
ais_stream = "prod_key"
nasa_firms = "prod_key"
n2yo = "prod_key"
wigle_net_key = "prod_key"
wigle_net_name = "prod_username"
open_cell_id = "prod_key"
shodan = "prod_key"

[endpoints]
celestrak_gp = "https://celestrak.org/NORAD/elements/gp.php"
airplanes_live = "https://api.airplanes.live/v2"
ais_stream = "stream.aisstream.io/v0/stream"
nasa_firms = "https://firms.modaps.eosdis.nasa.gov"
ioda = "https://api.ioda.inetintel.cc.gatech.edu/v2"

overpass_api = "https://overpass-api.de/api/interpreter"
# Camera streams
austin_texas = "https://data.austintexas.gov/resource"
uk_london = "https://api.tfl.gov.uk/Place/Type/JamCam"

# Redis
redis = "redis://127.0.0.1:6379"


